@media (max-width: 620px) {
    .content h1 {
        font-size: 24px;
    }
}

@media (max-width: 378px) {
    .content img {
        display: none;
    }

    .content h1 {
        font-size: 20px;
    }
}

